<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OrangeHRMSuite" parallel="classes" thread-count="5">
	<listeners>
		<listener class-name="com.orangehrm.listeners.TestListener"></listener>
	</listeners>
	<test name="OrangeHRMTest">
		<classes>
					
			 <class name="com.orangehrm.test.ApiTest" />
			<class name="com.orangehrm.test.DummyClasssTest" />
			<class name="com.orangehrm.test.DummyClasssTest2" />
			<class name="com.orangehrm.test.LoginPageTest" />
			<class name="com.orangehrm.test.HomePageTest" />  
			<class name="com.orangehrm.test.DBVerificationTest" />  
			 

		</classes>
	</test>
	<!-- Test -->
</suite> <!--
Suite -->
